.form-container {
  width: 55%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input, textarea, select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  font-size: 16px;
}

textarea {
  height: 120px;
}

.submit-btn {
  background: #16a34a;
  color: white;
  padding: 12px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  /* width: 50%; */
  border: none;
}

.submit-btn:hover {
  background: #15803d;
  transform: scale(1.04);
}
.back-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  margin-top: 20px;
}

.back {
  padding: 8px 15px;
  background: #333;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .form-container {
    width: 90%;        
    margin: 20px auto;
    padding: 20px;     
  }

  input, textarea, select {
    font-size: 15px;
    padding: 10px;
  }

  textarea {
    height: 100px;
  }

  .submit-btn {
    font-size: 16px;
    padding: 10px;
  }

  .back-wrapper {
    padding-left: 15px;
    margin-top: 15px;
  }

  .back {
    padding: 7px 12px;
    font-size: 14px;
  }
}

