.home-container {
  display: flex;
  padding: 60px 90px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #e0ecff, #ffffff);
}

.hero-left h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 10px;
}

.hero-left p {
  font-size: 20px;
  margin-bottom: 30px;
}

.get-started {
  background-color: #16a34a;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.get-started:hover {
  background: #15803d;
  transform: scale(1.05);
}

.hero-right img {
  width: 350px;
  animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}
