.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-side {
  flex: 1;
  background: linear-gradient(135deg, #1E3A8A, #3B82F6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}

.login-box {
  width: 100%;
  max-width: 380px;
  padding: 28px;
  background: white;
  box-shadow: 0 0 12px rgba(0,0,0,0.15);
  border-radius: 16px;
  text-align: center;
}

.login-box input {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.login-Btn {
  width: 100%;
  background: #1743bc;
  color: white;
  padding: 14px;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
}


/* MOBILE FIX */
@media (max-width: 768px) {

  .login-container {
    flex-direction: column;
    height: auto;
  }

  .left-side,
  .right-side {
    width: 100% !important;
    flex: none;
    padding: 25px;
  }

  .login-box {
    width: 90%;
    max-width: 350px;
  }
}
