.signup-container {
  display: flex;
  height: 100vh;
}


.left-side {
  width: 50%;
  background: linear-gradient(135deg, #1E3A8A, #3B82F6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
}

.right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box {
  width: 70%;
  padding: 30px;
  background: white;
  box-shadow: 0 0 10px #ccc;
  border-radius: 16px;
  text-align: center;
}

.signup-box input {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.signup-btn {
  width: 100%;
  background: green;
  color: white;
  padding: 14px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
}
